<!DOCTYPE html>
<html>
  <head>
    <title><%=pagename%> Editor</title>
    <link rel="icon" href="../../src/img/icon.png" />
    <link rel="stylesheet" href="../editor/editor.css" />
    <script src="../../src/library/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js"></script>

    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="editor-info">
        <h1>Loged in as: <i><%=user%></i></h1>
        <button id="submit"><h1 id="button-text">SUBMIT</h1></button>
      </div>
      <div id="accordion">
        <h3><b>Instructions</b></h3>
        <div>
          <div id="tabs">
            <ul>
              <li><a href="#tabs-1">Editing</a></li>
              <li><a href="#tabs-2">Accordion</a></li>
              <li><a href="#tabs-3">Tabs</a></li>
            </ul>
            <div id="tabs-1">
              <p>To enter text please use HTML5 tags.<br /></p>
              <p>For example: div, h1, ..., h6, p, span, br, ul, li, etc.</p>
              <p>
                Please, DO NOT use html, head, body, link, script tags as you
                are already in the main div(main workspace)!
              </p>
            </div>
            <div id="tabs-2">
              <p>If you want to make an accordion style content, like:</p>
              <img src="../editor/img/accordion.PNG" height="300px" />
              <p>Please folow the istructions below:</p>
              <img src="../editor/img/accordion_code.PNG" height="400px" />
            </div>
            <div id="tabs-3">
              <p>If you want to make a tab style content, like:</p>
              <img src="../editor/img/tabs.PNG" height="300px" />
              <p>Please folow the istructions below:</p>
              <img src="../editor/img/tabs_code.PNG" height="400px" />
            </div>
          </div>
        </div>
      </div>
      <div id="editor-area">
        <div id="editor"><%=text%></div>
        <div id="view">
          <h1 id="title"><%=pagename%></h1>
          <div id="content"><%=text%></div>
        </div>
      </div>
    </div>

    <script src="../editor/editor.js"></script>
  </body>
</html>
